body{
    font-family: 'Montserrat', sans-serif;
    background-color: #e7d6fa95 ;
    color: #1d1626;
}

#profile{
    border-radius: 50%;
    box-shadow: 0px 0px 50px #d8d3dc;
}

h1{
    color: #745898;
    font-weight: bold;
}

h3{
    color: #745898;
    font-weight: bold;
}

h4{
    color: #745898;
        font-weight: bold;

}

a{
    text-decoration: none;
    color: #a77ce4;
    font-weight: bold;
}

a:hover {
    color: #e51fff;
}

footer{
    bottom: 0;
    width: 100%;
    background-color: #e7d6fac0;
}

.borda table,th,td {
    border: 1px solid #9a07ad;
    border-collapse: collapse;
    padding: 15px;

}

 th {
     background-color: #dacaed95;
 }

 table{
    border: none;
 }

.flex{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.button{
    border: none;
    background:#a77ce4;
    color: #f9f9f9;
    font-weight: bold;
    height: 40px;
    width: 100px;
}
.button:hover {
    background: #f9f9f9;
    color: #a77ce4;
}