@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
/*{ utilizada para zerar as mergens da página e você estilizar do zero
    margin: 0px;
    padding: 0px;
}*/
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #e7d6fa95 ;
    color: #1d1626;
    margin: auto 200px;
}

#profile{
    border-radius: 50%;
    box-shadow: 0px 0px 50px #d8d3dc;
}

h1{
    color: #745898;
    font-weight: bold;
}

h3{
    color: #745898;
    font-weight: bold;
}

h4{
    color: #745898;
        font-weight: bold;

}

a{
    text-decoration: none;
    color: #a77ce4;
    font-weight: bold;
    display: inline-block;
}

a:hover {
    color: #e51fff;
}

footer{
    bottom: 0;
    width: 100%;
    background-color: #e7d6fac0;
}

.borda table,th,td {
    border: 1px solid #9a07ad;
    border-collapse: collapse;
    padding: 15px;

}

 th {
     background-color: #dacaed95;
 }

 table{
    border: none;
 }

.flex{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.button{
    border: none;
    background:#a77ce4;
    color: #f9f9f9;
    font-weight: bold;
    height: 40px;
    width: 100px;
}
.button:hover {
    background: #f9f9f9;
    color: #a77ce4;
}

hr{
    border-style: solid; ;
    border-color: #9a07ad;
    border-width: 1px 0px 0px 0px;
    height: 20px;
}

.elementos {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 22px;
    font-family: 'Montserrat',sans-serif;
    background-color: #b487b9;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.linhas {
    cursor: pointer;
}

.span {
    width: 30px;
    height: 4px;
    background-color: rgb(97, 58, 107);
    margin-bottom: 5px;
    border-radius: 2px;
    transition: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.botao {
    display: none;
}

.cabecalho{
    position: relative;
    left: 50px;
    bottom: 100px;
    width: 75%
}

.filme{
    position: relative;
    left: 50px ;
    bottom: 100px;

}